.flashcard-set-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.flashcard-set-form {
    max-width: 500px; 
    width: 90%;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-20%);
}

.label-class {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    color: #333;
    font-size: 1.1em;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.create-flashcard-set-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Spacing between buttons */
}

button[type="button"] {
    background-color: rgb(35, 134, 199);
    color: white;
    width: 50%;
}

button[type="submit"] {
    background-color: rgb(35, 134, 199);
    color: white;
    width: 50%;
    margin-right: 19px;
}

button + button {
    margin-left: 20px; /* Spacing between the "Add Card" button and the "Submit" button */
}

button:hover {
    opacity: 0.8;
}

.set-error-validation {
    color: red;
    font-size: 14px;
    width: 100%;
    text-align: center; /* Centering error validation message */
    margin-top: 5px;
}