.icon {
  background: none;
  border: none;
}

.fa-user-circle {
  font-size: 30px;
  color: #656969;
}

.fa-user-circle:hover {
  color: #0b7564;
  cursor: pointer;
}
.profile-dropdown {
  position: absolute;
  margin-top: 290px;
  right: 10px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  background-color: pink;
  border-radius: 10px;
  color: #000000;
  z-index: 100;
}

.user-information {
  border-bottom: 1px solid #696868;
  padding: 10px;
}
.list-button {
  margin-top: 20px;
}

.list-button button {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
}

.list-button button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-bar {
  padding: 0px 30px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #282e3e 1px solid;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}



.create-flashcard:hover {
  color: #0b7564;
  text-decoration: none;
}

.logo img {
  width: 18.75rem;
}

.signup-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 15px;
  height: 150px;
}

.signup-login > button {
  border: none;
  padding: 5px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.no-user {
  margin-bottom: 70px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.emt-logo img {
  width: 150px;
  height: 82px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  bottom: 2px;
}

.flashcard-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: calc(150px + 40px);
  padding: 5px;
}

.create-flashcard,
.create-flashcard-set {
    margin-bottom: 5px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}

.create-flashcard:hover,
.create-flashcard-set:hover {
    color: white;
    text-decoration: none;
}

.create-flashcard:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 40%;
    background-color: #7583ff;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.create-flashcard-set:hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: #7583ff;
  position: absolute;
  bottom: -10px;
  left: 150px;
}

.topic-bar{
  padding: 0px 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #cecece 1px solid;
  margin-bottom: 20px;
}

.topic-contents{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
  position: relative;
}
.topic-contents a {
  color: #FFF9D9;
  position: relative;
}

.topic-contents a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FFDAB9; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.topic-contents a:hover::after {
  width: 100%;
}

.search-bar{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  margin-right: 30px;
}

.search-bar:focus {
  border-color: #007bff
}

.search-bar-container{
  flex-grow: 2;
  max-width: 500px;
  margin: 0 auto;
}